{% extends "personal/header.html" %}

 {% block content %}
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>

    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>
    <p>Hey, welcome to my site. I am a programmer and i love to code. :p)</p>





 {% include 'personal/includes/html-snippet.html' %}

 {%  endblock %}